title     = "Daftar Kepolisian Sektor"
url       = "sektor"
layout    = "default"
is_hidden = 0

[AdminSector]
==
function onStart() {
    $this->page->activePage = 'admin-sector';
}
==
{% set sectors = AdminSector.getAll %}

{% partial 'button-add' page='sector/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Nama</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, sector in sectors %}
                    <tr>
                        <td>{{ sector.name }}
                            <div class="table-links">
                                <a href="{{ 'sector/edit'|page({parameter: sector.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td class="text-right">{{ sector.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
