<div class="card">
    <div class="card-header">
        <h4>INFORMASI PENERBITAN</h4>
    </div>

    <div class="card-body">
        <div class="selectgroup w-100">
            <label class="selectgroup-item">
                <input type="radio" name="type" value="new" class="selectgroup-input">
                <span class="selectgroup-button">Baru</span>
            </label>
            <label class="selectgroup-item">
                <input type="radio" name="type" value="extend" class="selectgroup-input">
                <span class="selectgroup-button">Perpanjang</span>
            </label>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>JENIS SIM</h4>
    </div>
    <div class="card-body">
        <div class="selectgroup w-100">
            <label class="selectgroup-item">
                <input type="radio" name="kind" value="a" class="selectgroup-input">
                <span class="selectgroup-button">SIM A</span>
            </label>
            <label class="selectgroup-item">
                <input type="radio" name="kind" value="c" class="selectgroup-input">
                <span class="selectgroup-button">SIM C</span>
            </label>
            <label class="selectgroup-item">
                <input type="radio" name="kind" value="b1" class="selectgroup-input">
                <span class="selectgroup-button">SIM B1</span>
            </label>
            <label class="selectgroup-item">
                <input type="radio" name="kind" value="b2" class="selectgroup-input">
                <span class="selectgroup-button">SIM B2</span>
            </label>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI KELENGKAPAN BERKAS</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Berkas: SIM</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasSim" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasSim" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: KTP</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasKtp" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasKtp" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: KK</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasKk" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasKk" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>
    </div>
</div>
