<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="text-left">
                    <a href="{{ page }}" class="btn btn-lg btn-primary btn-round">
                        <i class="fa fa-arrow-left"></i> KEMBALI
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
