{% if userLogin.hasAccess('administrator') %}
<div class="card">
    <div class="card-body p-10">
        <div class="text-right">
            <a href="{{ page }}" class="btn btn-lg btn-primary btn-round">
                <i class="fa fa-plus-circle"></i> BUAT BARU
            </a>
        </div>
    </div>
</div>
{% endif %}
