[viewBag]

==
<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2019 All Right Reserved<div class="bullet"></div> Aplikasi E-SPKT Oleh PT Karya Bangsa Mendunia
    </div>
    <div class="footer-right">
        1.0.1
    </div>
</footer>
