<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <ul class="sidebar-menu mt-3">
            <li class="menu-header">Menu Utama</li>
            <li class="{{ this.page.activePage == 'admin-dashboard' ? 'active' : '' }}">
                <a href="{{ 'home'|page }}" class="nav-link"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
            </li>
            <li class="{{ this.page.activePage == 'admin-request' ? 'active' : '' }}">
                <a href="{{ 'request/index'|page }}" class="nav-link"><i class="fas fa-file"></i> <span>Permohonan</span></a>
            </li>
            {% if userLogin.hasAccess(['administrator', 'staff']) %}
            <li class="{{ this.page.activePage == 'admin-feedback' ? 'active' : '' }}">
                <a href="{{ 'feedback/index'|page }}" class="nav-link"><i class="fas fa-comment"></i> <span>Penilaian</span></a>
            </li>
            <li class="{{ this.page.activePage == 'admin-service' ? 'active' : '' }}">
                <a href="{{ 'service/index'|page }}" class="nav-link"><i class="fas fa-briefcase"></i> <span>Layanan</span></a>
            </li>
            <li class="{{ this.page.activePage == 'admin-sector' ? 'active' : '' }}">
                <a href="{{ 'sector/index'|page }}" class="nav-link"><i class="fas fa-map-pin"></i> <span>Sektor</span></a>
            </li>
            <li class="{{ this.page.activePage == 'admin-counter' ? 'active' : '' }} dropdown"><a href="#" class="nav-link has-dropdown"><i class="fas fa-university"></i> <span>Loket</span></a>
                <ul class="dropdown-menu" >
                    <li class="{{ this.page.activeChildPage == 'counter' ? 'active' : '' }} ">
                        <a class="nav-link" href="{{ 'counter/index'|page }}">Loket</a>
                    </li>
                    <li class="{{ this.page.activeChildPage == 'terminal' ? 'active' : '' }} ">
                        <a class="nav-link" href="{{ 'terminal/index'|page }}">Terminal</a>
                    </li>
                </ul>
            </li>
            <li class="{{ this.page.activePage == 'admin-officer' ? 'active' : '' }} dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-users"></i> <span>Petugas</span></a>
                <ul class="dropdown-menu">
                    <li class="{{ this.page.activeChildPage == 'officer' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ 'officer/index'|page }}">Petugas</a>
                    </li>
                    <li class="{{ this.page.activeChildPage == 'officer-section' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ 'officer-section/index'|page }}">Bagian</a>
                    </li>
                    <li class="{{ this.page.activeChildPage == 'officer-unit' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ 'officer-unit/index'|page }}">Unit</a>
                    </li>
                </ul>
            </li>
            {% endif %}

            <li class="menu-header">Menu Antrian</li>
            <li class="{{ this.page.activePage == 'admin-queue-index' ? 'active' : '' }}">
                <a href="{{ 'queue/index'|page }}" class="nav-link"><i class="fas fa-laptop"></i> <span>Panggilan</span></a>
            </li>

            <li class="menu-header">Akun Saya</li>
            <li  class="{{ this.page.activePage == 'user-profile' ? 'active' : '' }}">
                <a href="{{ 'user/profile'|page }}" class="nav-link"><i class="fas fa-user"></i> <span>Ubah Profile</span></a>
            </li>
            <li  class="{{ this.page.activePage == 'user-password' ? 'active' : '' }}">
                <a href="{{ 'user/password'|page }}" class="nav-link"><i class="fas fa-lock"></i> <span>Ubah Password</span></a>
            </li>
            <li>
                <a href="#" class="nav-link" data-request="onLogout" data-attach-loading data-request-flash><i class="fas fa-sign-out-alt"></i> <span>Keluar</span></a>
            </li>
        </ul>

        {# <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
            </a>
        </div> #}
    </aside>
</div>
