{% for queue in queueWaitings %}
<tr>
    <td>{{ queue.counter.code }}{{ queue.number|makePad }}</td>
    <td>{{ queue.is_online ? 'Melalui Aplikasi' : 'Melalui Pendaftaran' }}</td>
    <td>{{ queue.is_coming ? '<div class="badge badge-success">Sudah Hadir</div>' : '<div class="badge badge-light">Belum Hadir</div>' }}</td>
    <td class="text-right">
        {% if queue.queueRequest %}
        <a href="{{ 'request/item'|page({parameter: queue.queueRequest.request.parameter}) }}?ref=queue" class="btn btn-sm btn-primary btn-round" target="_blank">
            Buat Berkas
        </a>
        {% else %}
        <a href="{{ 'request/add'|page }}?ref={{ queue.parameter }}" class="btn btn-sm btn-primary btn-round" target="_blank">
            Buat Berkas
        </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
