{% for queue in queueHandles %}
<tr>
    <td>{{ queue.counter.code }}{{ queue.number }}</td>
    <td>#{{ queue.terminal.number }}</td>
    <td>{{ queue.user.officer.name }}</td>
    <td class="text-right">
        {% if userLogin.id == queue.user_id %}
        <a href="#" class="btn btn-sm btn-danger btn-round"
            data-request="onHandleCancel"
            data-request-data="'parameter': '{{ queue.parameter }}'"
            data-request-success="$('[data-refresh-handle]').click(); $('[data-refresh-waiting]').click();"
            data-attach-loading>
            Batalkan
        </a>
        <a href="#" class="btn btn-sm btn-primary btn-round"
            data-request="onHandleRequest"
            data-request-data="'parameter': '{{ queue.parameter }}'"
            data-request-success="$('#modalRequest').modal();"
            data-request-update="'queue/terminal/list-request': '[data-target-request]'"
            data-attach-loading>
            Buat Berkas
        </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
