title     = "Daftar Layanan"
url       = "layanan"
layout    = "default"
is_hidden = 0

[AdminService]
==
function onStart() {
    $this->page->activePage = 'admin-service';
}
==
{% set services = AdminService.getAll %}

{% partial 'button-add' page='service/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Nama</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, service in services %}
                    <tr>
                        <td>{{ service.name }}
                            <div class="table-links">
                                <a href="{{ 'service/request'|page({parameter: service.parameter}) }}">Kaitkan Permohonan</a>
                                <div class="bullet"></div>
                                <a href="{{ 'service/item'|page({parameter: service.parameter}) }}">Kaitkan Item</a>
                                <div class="bullet"></div>
                                <a href="{{ 'service/edit'|page({parameter: service.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td class="text-right">{{ service.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
