title     = "Ubah Item Layanan"
url       = "layanan/item/ubah/:parameter"
layout    = "default"
is_hidden = 0

[AdminServiceItemDetail]
parameter="{{ :parameter }}"

[AdminServiceItem]
==

{% partial 'button-back' page='service/item'|page %}
<div class="card">
    {{ form_ajax('AdminServiceItemDetail::onSave', {'data-request-flash': true}) }}
        {% partial 'service/form-item' services=services %}

        <div class="form-group">
            <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
        </div>
    {{ form_close() }}
</div>
