title     = "Daftar Item Layanan"
url       = "layanan/item"
layout    = "default"
is_hidden = 0

[AdminServiceItem]
==
function onStart() {
    $this->page->activePage = 'admin-service';
}
==
{% set serviceItems = AdminServiceItem.getAll %}

{% partial 'button-add' page='service/item-add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Layanan</th>
                        <th>Nama</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Layanan</th>
                        <th>Nama</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, item in serviceItems %}
                    <tr>
                        <td>{{ item.service.name }}
                            <div class="table-links">
                                <a href="{{ 'service/item-edit'|page({parameter: item.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td>{{ item.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
