title     = "Dashboard"
url       = "/dashboard"
layout    = "default"
is_hidden = 0

[AdminDashboard]
==
function onStart() {
    $this->page->activePage = 'admin-dashboard';
}
==
{% set permitHearses = AdminDashboard.getRequestByPermit('permit-hearse', 10) %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Urgensi: Layanan Pengawalan</h4>
                <a href="#" class="btn btn-link ml-auto"
                    data-request="onRefreshPermitHearseRequest"
                    data-request-update="'dashboard/block-hearse': '[data-target-permit-hearse]'"
                    data-refresh-permit-hearse
                    data-attach-loading
                    data-refresh-waiting>
                    <i class="fa fa-sync"></i>
                </a>
            </div>

            <div class="card-body" data-target-permit-hearse>
                {% partial 'dashboard/block-hearse' permitHearses=permitHearses %}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card card-statistic-2">
            <div class="card-stats">
                <div class="card-stats-title text-right">Statistik Permohonan -
                    <div class="dropdown d-inline">
                        <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" href="#" id="orders-month" aria-expanded="false">August</a>
                        <ul class="dropdown-menu dropdown-menu-sm" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 18px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <li class="dropdown-title">Select Month</li>
                            <li><a href="#" class="dropdown-item">January</a></li>
                            <li><a href="#" class="dropdown-item">February</a></li>
                            <li><a href="#" class="dropdown-item">March</a></li>
                            <li><a href="#" class="dropdown-item">April</a></li>
                            <li><a href="#" class="dropdown-item">May</a></li>
                            <li><a href="#" class="dropdown-item">June</a></li>
                            <li><a href="#" class="dropdown-item">July</a></li>
                            <li><a href="#" class="dropdown-item active">August</a></li>
                            <li><a href="#" class="dropdown-item">September</a></li>
                            <li><a href="#" class="dropdown-item">October</a></li>
                            <li><a href="#" class="dropdown-item">November</a></li>
                            <li><a href="#" class="dropdown-item">December</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-stats-items">
                    <div class="card-stats-item">
                        <div class="card-stats-item-count">24</div>
                        <div class="card-stats-item-label">Permohonan SIM</div>
                    </div>
                    <div class="card-stats-item">
                        <div class="card-stats-item-count">12</div>
                        <div class="card-stats-item-label">Permohonan STNK</div>
                    </div>
                    <div class="card-stats-item">
                        <div class="card-stats-item-count">23</div>
                        <div class="card-stats-item-label">Permohonan SKCK</div>
                    </div>
                    <div class="card-stats-item">
                        <div class="card-stats-item-count">23</div>
                        <div class="card-stats-item-label">Permohonan TNKB</div>
                    </div>
                </div>
            </div>

            <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-archive"></i>
            </div>
            <div class="card-wrap">
                <div class="card-header">
                    <h4>Total Permohonan</h4>
                </div>
                <div class="card-body">59</div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card card-hero">
            <div class="card-header">
                <div class="card-icon">
                    <i class="far fa-check-circle"></i>
                </div>
                <h4>14</h4>
                <div class="card-description">Customers need help</div>
            </div>
            <div class="card-body p-0">
                <div class="tickets-list">
                    <a href="features-tickets.html" class="ticket-item ticket-more">
                        View All <i class="fas fa-chevron-right"></i>
                    </a>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo totam ducimus unde, consequatur voluptatibus quae error aliquam distinctio qui. Repellendus tempora pariatur nostrum, neque cum! Sit, blanditiis hic cupiditate dolorum.
                </p>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script src="{{ 'assets/js/page/index-0.js'|page }}"></script>
<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
<script>
var pusher = new Pusher('ceda15f0df2c5856d5fb', {
    cluster: 'ap1',
    forceTLS: true
});

var channel = pusher.subscribe('my-channel');
channel.bind('my-event', function(data) {
    $('[data-refresh-permit-hearse]').click();
});
</script>
{% endput %}
