title     = "Masuk"
url       = "/"
is_hidden = 0

[Auth]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="app" class="align-items-center">
            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                            {# <div class="login-brand">
                                <img src="assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                            </div> #}

                        <div class="card card-primary">
                            <div class="card-header"><h4>APLIKASI SATU PINTU</h4></div>

                            <div class="card-body">
                                <form data-request="onLogin" data-request-flash>
                                    <div class="form-group">
                                        <label for="id">ID</label>
                                        <input id="id" type="text" class="form-control" name="id" autofocus>
                                    </div>

                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">Password</label>
                                            <div class="float-right">
                                                <a href="auth-forgot-password.html" class="text-small">
                                                    Lupa Password?
                                                </a>
                                            </div>
                                        </div>
                                         <input id="password" type="password" class="form-control" name="password">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4" data-attach-loading>MASUK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="simple-footer">
                            Copyright &copy; 2019 Aplikasi E-SPKT <br> PT Karya Bangsa Mendunia
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/modules/popper.js/dist/umd/popper.min.js',
            'assets/modules/tooltip.js/dist/umd/tooltip.min.js',
            'assets/modules/bootstrap/dist/js/bootstrap.min.js',
            'assets/modules/nicescroll/dist/jquery.nicescroll.min.js',
            'assets/modules/moment/min/moment.min.js',
            'assets/js/stisla.js',

            'assets/js/scripts.js',
            'assets/js/custom.js',

            'assets/js/app.js']|theme }}"></script>

        {% scripts %}

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
