title     = "Layar Antrian"
url       = "/layar"
layout    = "screen"
is_hidden = 0

[BaseHome]
==
<div class="screen-header">
    <img src="{{ 'assets/images/logo-primary.png'|theme }}" alt="">
    <h1>SELAMAT DATANG DI LOKET E-SPKT POLRES</h1>
</div>

<div class="row no-gutters" style="border-bottom: 1px solid #333">
    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5vNf9I_rqVw" allowfullscreen autoplay></iframe>
        </div>
    </div>

    <div class="col">
        <table class="table table-queue-information">
            <thead>
                <tr>
                    <th>ANTRIAN</th>
                    <th>LOKET</th>
                </tr>
            </thead>

            <tbody>
                {% for counter in counters %}
                <tr>
                    <td data-target-counter-{{ counter.code|lower }}>{{ counter.code }}{{ BaseHome.getQueueByCounter(counter.id).number ?  BaseHome.getQueueByCounter(counter.id).number|makePad : '000' }}</td>
                    <td>{{ counter.code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="screen-footer">
    <div class="footer-head-information">
        <marquee scrollamount="30">POLRE BERSAMA RAKYAT</marquee>
    </div>
</div>


<div style="display:none">
    <form data-request="BaseHome::onCall"
        data-request-update="'queue/voice': '[data-target-voice]'">
        <input type="text" name="channel">
        <input type="text" name="number">
        <button class="btn btn-primary" type="submit" data-submit-voice data-attach-loading>SUBMIT</button>
    </form>
</div>

<div data-target-voice></div>

{% put scripts %}
<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
<script>
Pusher.logToConsole = true;

var pusher = new Pusher('1e534418562e080bed18', {
    cluster: 'ap1',
    forceTLS: true
});

var channel = pusher.subscribe('queue-channel');
channel.bind('queue-call', function(data) {
    $('input[name="channel"]').val(data.channel);
    $('input[name="number"]').val(data.number);
    $('[data-target-counter-'+data.channel+']').text(data.channel.toUpperCase()+data.number.padStart(3, '0'));
    $('[data-submit-voice]').click();
});
</script>
  {% endput %}
