{% if is_parent %}
    <div class="form-group">
        <label>Nama</label>
        <input type="text" class="form-control" name="name" value="{{ service.name }}">
    </div>
{% else %}
    <div class="form-group">
        <label>Gambar</label>
        {% component 'pictureUploader' %}
    </div>

    <div class="form-group">
        <label>Nama</label>
        <input type="text" class="form-control" name="name" value="{{ service.name }}">
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Waktu Buka Layanan</label>
                <input type="text" class="form-control" name="day_open" value="{{ service.day_open }}" placeholder="Hari">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>&nbsp;</label>
                <input type="text" class="form-control" name="time_open" value="{{ service.time_open }}" placeholder="Waktu">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Konten</label>
        <textarea rows="5" class="form-control summernote-simple" name="description">{{ service.description }}</textarea>
    </div>
{% endif %}
