<table class="table">
    <tbody>
        {% for key, option in options %}
        <tr>
            <td>{{ option.name }}</td>
            <td class="text-right">
                <label class="custom-switch">
                    <input type="checkbox" name="option_id[{{ key ? key : '0'}}]" value="{{ option.id }}" class="custom-switch-input"
                    {% for op in service.options %}
                        {{ op.pivot.option_id == option.id ? 'checked' : '' }}
                    {% endfor %}
                    >
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description"></span>
                </label>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
