    <div class="card-header">
        <h4>Informasi Dasar</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Layanan</label>
            <select name="service_id" class="form-control">
                <option value="">-- Pilih --</option>
                {% for service in services %}
                <option value="{{ service.id }}" {{ item.service_id == service.id ? 'selected' : '' }}>{{ service.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" name="name" value="{{ item.name }}">
        </div>
    </div>

    <hr class="m-0">

    <div class="card-header">
        <h4>Lampiran Pendukung</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Panduan Buku Elektronik <span class="text-muted small">(Lampiran file ekstensi .pdf)</span></label>
            {% component 'pdfUploader' %}
        </div>


        <div class="form-group">
            <label>Panduan Video <span class="text-muted small">(Lampiran file ekstensi .mp4)</span></label>
            {% component 'videoUploader' %}
        </div>
