//
// Stisla Stylesheet
//
@import "style.scss";

//
// Custom Stylesheet
//
.block-empty {
    img {
        height: 200px;
    }

    p {
        text-transform: uppercase;
    }
}

.datatable,
.datatable-request {
    tfoot {
        display: table-row-group;
    }
}

.dataTables_wrapper {
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate {
        padding: 15px;
    }

    .dataTables_filter {
        display: none;
    }

    tbody {
        tr td {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.dataTables_paginate {
    .paginate_button {
        &:hover,
        &:focus {
            background: none !important;
            border-color: transparent !important;
        }
    }
}
