//
// All
//
@import '../../../../bower_components/bootstrap/scss/bootstrap';

.screen-header {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;

    img {
        width: 450px;
    }
}

.screen-footer {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    background-color: #fafafa;
    padding: 20px;
}

.table-queue-information {
    tr th {
        border-top: 0px;
        background-color: #fafafa;
    }

    tr th,
    tr td {
        font-size: 83px;

        &:last-child {
            text-align: right;
        }
    }
}

.footer-head-information {
    font-size: 48px;
}
