title     = "Daftar Penilaian"
url       = "penilaian"
layout    = "default"
is_hidden = 0

[AdminFeedback]
==
function onStart() {
    $this->page->activePage = 'admin-feedback';
}
==
{% set feedbacks = AdminFeedback.getAll %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Kode Permohonan</th>
                        <th>Layanan</th>
                        <th>Sumber</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Kode Permohonan</th>
                        <th>Layanan</th>
                        <th>Sumber</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, feedback in feedbacks %}
                    <tr>
                        <td>{{ feedback.item.request.code }}
                            <div class="table-links">
                                <a href="{{ 'feedback/detail'|page({parameter: feedback.parameter}) }}">Lihat</a>
                            </div>
                        </td>
                        <td>{{ feedback.item.service_name }}</td>
                        <td>
                            {% if feedback.item.channel == 'onsite' %}
                                Loket
                            {% endif %}

                            {% if feedback.item.channel == 'online' %}
                                Aplikasi
                            {% endif %}
                        </td>
                        <td class="text-right">{{ feedback.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
