<!-- jumbotron -->
    <table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="email_body tc">
                    <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                    <div class="email_container">
                        <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="content_cell brt">
                                        <!-- col-6 -->
                                        <div class="email_row">
                                        <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div class="col_6">
                                                <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="column_cell px pte tc">
                                                                <h1 class="mb_xxs">Penilaian Berhasil</h1>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- image -->
    <table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="email_body tc">
                    <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                    <div class="email_container">
                        <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="content_cell">
                                        <!-- c_one -->
                                        <div class="email_row">
                                        <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div class="col_6">
                                                <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="column_cell px">
                                                                <p class="imgr imgr568 mb_0"><img class="bra" src="{{ url() }}/themes/primary/assets/images/mail/thumb_568x284.jpg" width="568" height="" alt=""/></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- content -->
    <table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="email_body tc">
                    <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                    <div class="email_container">
                        <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="content_cell">
                                        <!-- col-6 -->
                                        <div class="email_row tl">
                                        <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div class="col_6">
                                                <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="column_cell px tl">
                                                                <h4>Muhammad Nurhadi,</h4>
                                                                <p>Terimkasih telah memberikan penilaian terhadap pelayanan dari kami sebagai bentuk bahan evaluasi yang lebih baik dimasa mendatang.</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
