<!-- jumbotron_light -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
     <tr>
         <td class="email_body tc">
             <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
             <div class="email_container">
                 <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                     <tbody>
                         <tr>
                             <td class="content_cell light_b brt">
                                 <!-- col-6 -->
                                 <div class="email_row">
                                 <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                     <div class="col_6">
                                         <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                 <tr>
                                                     <td class="column_cell px pte tc">
                                                         <h1 class="mb_xxs">Informasi Permohonan Baru</h1>
                                                     </td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                 </div>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
         </td>
     </tr>
 </tbody>
</table>
<!-- order_intro -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell">
                                    <!-- col-6 -->
                                    <div class="email_row">
                                    <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                        <div class="col_6">
                                            <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="column_cell px tc">
                                                            <h4>Administrator,</h4>
                                                            <p class="mbe">Ada permohonan baru untuk layanan Pembuatan Surat Izin Keramaian</p>
                                                            <table class="ebtn" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="active_b"><a href="#"><span>Lihat Detail</span></a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <h4 class="mb_xxs mte">Kode Permohonan #140145</h4>
                                                            <p class="small tm">Dibuat pada Kamis, 31 Maret 2019 14:23</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>

