<!-- jumbotron_light_icon_info -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
     <tr>
         <td class="email_body tc">
             <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
             <div class="email_container">
                 <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                     <tbody>
                         <tr>
                             <td class="content_cell light_b brt">
                                 <!-- col-6 -->
                                 <div class="email_row">
                                 <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                     <div class="col_6">
                                         <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                 <tr>
                                                     <td class="column_cell px pte tc">
                                                         <table class="ic_h" align="center" width="64" border="0" cellspacing="0" cellpadding="0">
                                                             <tbody>
                                                                 <tr>
                                                                     <td class="active_b">
                                                                         <p class="imgr mb_0"><img src="{{ url() }}/themes/primary/assets/images/mail/android-checkmark.png" width="32" height="32" alt="" /></p>
                                                                     </td>
                                                                 </tr>
                                                             </tbody>
                                                         </table>
                                                         <h1 class="mb_xxs">Permohonan Berhasil Dibuat</h1>
                                                         <p class="lead">&nbsp;</p>
                                                     </td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                 </div>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
         </td>
     </tr>
 </tbody>
</table>
<!-- banner_success -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell py success_b">
                                    <!-- col-6 -->
                                    <div class="email_row">
                                    <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="300" style="width:300px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                        <div class="col_3">
                                            <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="column_cell px pt_xs pb_xs tl sc">
                                                            <h5 class="mt_xs mb_xxs">Tanggal Kehadiran</h5>
                                                            <p class="mb_0">Sabtu, 31 Maret 2019</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--[if (mso)|(IE)]></td></tr><tr><td width="300" style="width:300px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                        <div class="col_3">
                                            <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="column_cell px pt hdr_menu tr">
                                                            <table class="ebtn tr" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="default_b"><a href="#"><span>Unduh Ringkasan</span></a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
<!-- spacer -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell">
                                    <table class="hr_rl" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="hr_ep pt">&nbsp; </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
<!-- content -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell">
                                    <!-- col-6 -->
                                    <div class="email_row tl">
                                    <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                        <div class="col_6">
                                            <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="column_cell px tl">
                                                            <p>Muhammad Nurhadi, permohonan kamu telah kami terima mohon untuk hadir tepat pada tanggal yang telah anda tentukan sebelumnya.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
