<!-- jumbotron_light_icon -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
     <tr>
         <td class="email_body tc">
             <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
             <div class="email_container">
                 <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                     <tbody>
                         <tr>
                             <td class="content_cell light_b brt">
                                 <!-- col-6 -->
                                 <div class="email_row">
                                 <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                     <div class="col_6">
                                         <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                 <tr>
                                                     <td class="column_cell px pte tc">
                                                         <table class="ic_h" align="center" width="64" border="0" cellspacing="0" cellpadding="0">
                                                             <tbody>
                                                                 <tr>
                                                                     <td class="default_b">
                                                                         <p class="imgr mb_0"><img src="{{ url() }}/themes/primary/assets/images/mail/unlocked.png" width="32" height="32" alt="" /></p>
                                                                     </td>
                                                                 </tr>
                                                             </tbody>
                                                         </table>
                                                         <h1 class="mb_xxs">Selamat Datang</h1>
                                                         <p class="lead">Kamu telah di undang kedalam aplikasi satu pintu polres pulang pisau</p>
                                                     </td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                 </div>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
         </td>
     </tr>
 </tbody>
</table>
<!-- label_lg -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell">
                                    <!-- col_3 -->
                                    <div class="email_row">
                                        <!--[if (mso)|(IE)]><table width="300" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:300px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div class="col_3 col_center">
                                                <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="column_cell px tc">
                                                                <h5 class="tm">Kode Login</h5>
                                                                <table class="ncard" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="ncard_c light_b tc px py">
                                                                                <h1 class="mt_0 mb_0">{{ user.code }}</h1>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
<!-- button_accent -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell tc">
                                    <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="column_cell px pt_0 pb_xs tc">
                                                    <table class="ebtn" align="center" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="active_b"><a href="{{ url() }}/u/profile"><span>Akses Akun</span></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
<!-- spacer-lg -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell">
                                    <table class="hr_rl" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="hr_ep pte">&nbsp; </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
<!-- content_center -->
<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="email_body tc">
                <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                <div class="email_container">
                    <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="content_cell">
                                    <!-- col-6 -->
                                    <div class="email_row tl">
                                    <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                        <div class="col_6">
                                            <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="column_cell px tc">
                                                            <p>Gunakan sandi yang telah diberikan oleh administrator kemudian masukan kode diatas untuk mengakses akun anda</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
