url       = "permohonan/item/ubah/:parameter"
layout    = "default"
is_hidden = 0

[AdminRequest]

[AdminRequestItemEdit]
parameter="{{ :parameter }}"

[AdminRequestItemDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-request';
}
==

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="text-left">
                    <a href="{{ 'request/item'|page({parameter: item.parameter}) }}" class="btn btn-lg btn-primary btn-round">
                        <i class="fa fa-arrow-left"></i> KEMBALI KE DETAIL
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI DASAR</h4>
    </div>

    <div class="card-body p-0">
        {% partial 'request/detail' item=item %}
    </div>
</div>

{% if item.service.parent.code == 'permit-sim' %}
    {% partial 'request/permit-sim/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-skck' %}
    {% partial 'request/permit-skck/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-tnkb' %}
    {% partial 'request/permit-tnkb/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-drug' %}
    {% partial 'request/permit-drug/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-crowd' %}
    {% partial 'request/permit-crowd/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-hearse' %}
    {% partial 'request/permit-hearse/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-activity' %}
    {% partial 'request/permit-activity/detail' %}
{% endif %}

<form data-request="AdminRequestItemDetail::onSave" data-request-flash>
    {% partial 'request/form-requester' customer=item.customer %}

    {% partial 'request/form-officer' officers=officers %}

    {% partial 'request/button' %}
</form>

{% put scripts %}
<script>
$('body').on('click', '[data-add-officer]', function(e){
    var button = $(this);
    var length = $('[data-target-officer]').length;

    $.request('AdminRequest::onAddOfficer', {
        data: {
            length  : length,
        },
        beforeSend:function() {
            button.attr('disabled', true);
        },
        success: function(data) {
            this.success(data).done(function() {
                $('[data-target-officers]').append(data.officer)
            });
            button.attr('disabled', false);
        }
    });
});

$('body').on('click', '[data-remove-officer]', function(e){
    var button = $(this);
    var length = $('[data-target-officer]').length;
    var isExist = button.data('parameter');

    if(confirm('Hapus petugas ini?')) {
        if(isExist) {
            $.request('AdminRequest::onRemoveOfficer', {
                data: {
                    parameter  : isExist,
                },
                beforeSend:function() {
                    button.attr('disabled', true);
                },
                success: function(data) {
                    this.success(data).done(function() {
                        $('[data-target-officers]').html(data.expertise);
                        $.oc.flashMsg({ text: data.message, class: data.type })
                    });
                    button.attr('disabled', false);
                },
            });

            return;
        }

        button.attr('disabled', true);
        $('[data-target-officer]')[length-1].remove();
        button.attr('disabled', false);
    }
});
</script>
{% endput %}

