url       = "permohonan/item/detail/:parameter"
layout    = "default"
is_hidden = 0

[AdminRequestItemDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-request';
}
==
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="text-left">
                    <a href="{{ 'request/index'|page }}" class="btn btn-lg btn-primary btn-round">
                        <i class="fa fa-arrow-left"></i> KEMBALI
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="text-right dropdown">
                    <a href="{{ page }}" class="btn btn-lg btn-outline-primary btn-round" data-toggle="dropdown">
                        PILIHAN <i class="fas fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% if item.status == 'progress' or item.status == 'waiting' %}
                        <li>
                            <a href="{{ 'request/item-edit'|page({parameter: item.parameter}) }}?ref={{ input('ref') }}" class="dropdown-item has-icon">
                                <i class="far fa-edit"></i>
                                Ubah
                            </a>
                        </li>
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        <li>
                            <a href="{{ 'request-file'|page({parameter: item.request.parameter}) }}" target="_blank" class="dropdown-item has-icon">
                                <i class="far fa-file-pdf"></i>
                                Berkas Permohonan
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'request-resume'|page({parameter: item.request.parameter}) }}" target="_blank" class="dropdown-item has-icon">
                                <i class="far fa-file-pdf"></i>
                                Formulir Permohonan
                            </a>
                        </li>
                        {% if item.status == 'progress' or item.status == 'waiting' %}
                        <div class="dropdown-divider"></div>
                        <li>
                            <a href="#"
                                class="dropdown-item has-icon text-success"
                                data-request="onFinish"
                                data-request-flash data-attach-loading
                                data-request-confirm="Tandai permohonan ini telah selesai?"
                                >
                                <i class="far fa-check-circle"></i>
                                Tandai Telah Selesai
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h4>INFORMASI DASAR</h4>
    </div>

    <div class="card-body p-0">
        {% partial 'request/detail' item=item %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI PEMOHON</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tr>
                <td>Nama</td>
                <td class="text-right">{{ item.customer.name }}</td>
            </tr>

            <tr>
                <td>No. Telepon</td>
                <td class="text-right">{{ item.customer.phone }}</td>
            </tr>

            <tr>
                <td>Alamat Email</td>
                <td class="text-right">{{ item.customer.email }}</td>
            </tr>

            <tr>
                <td>Jenis Kelamin</td>
                <td class="text-right">
                    {% if item.customer.gender == 'male' %}
                    Pria
                    {% endif %}

                    {% if item.customer.gender == 'female' %}
                    Wanita
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Pekerjaan</td>
                <td class="text-right">{{ item.customer.job }}</td>
            </tr>

            <tr>
                <td>Kewarganegaraan</td>
                <td class="text-right">{{ item.customer.nationality }}</td>
            </tr>

            <tr>
                <td>Alamat Lengkap</td>
                <td class="text-right">{{ item.customer.address }}</td>
            </tr>
        </table>
    </div>
</div>

{% if item.service.parent.code == 'permit-sim' %}
    {% if item.service.code == 'sim-new' or item.service.code == 'sim-extend' %}
        {% partial 'request/permit-sim/detail' %}
    {% endif %}

    {% if item.service.code == 'sim-student' %}
        {% partial 'request/permit-sim/detail-student' %}
    {% endif %}
{% endif %}

{% if item.service.parent.code == 'permit-skck' %}
    {% partial 'request/permit-skck/detail' %}
    {% partial 'request/permit-skck/detail-other' %}
    {% partial 'request/permit-skck/detail-criminal' %}
    {% partial 'request/permit-skck/detail-violation' %}
    {% partial 'request/permit-skck/detail-sponsor' %}
{% endif %}

{% if item.service.parent.code == 'permit-tnkb' %}
    {% if item.service.code == 'tnkb-yearly' %}
        {% partial 'request/permit-tnkb/detail-yearly' %}
    {% endif %}

    {% if item.service.code == 'tnkb-lost' %}
        {% partial 'request/permit-tnkb/detail-lost' %}
    {% endif %}

    {% if item.service.code == 'tnkb-in' %}
        {% partial 'request/permit-tnkb/detail-in' %}
    {% endif %}

    {% if item.service.code == 'tnkb-out' %}
        {% partial 'request/permit-tnkb/detail-out' %}
    {% endif %}

    {% if item.service.code == 'tnkb-renewal' %}
        {% partial 'request/permit-tnkb/detail-renewal' %}
    {% endif %}

    {% if item.service.code == 'tnkb-reunited' %}
        {% partial 'request/permit-tnkb/detail-reunited' %}
    {% endif %}
{% endif %}

{% if item.service.parent.code == 'permit-drug' %}
    {% partial 'request/permit-drug/detail' %}
    {% partial 'request/permit-drug/detail-other' %}
{% endif %}

{% if item.service.parent.code == 'permit-crowd' %}
    {% if item.service.code == 'crowd' %}
        {% partial 'request/permit-crowd/detail' %}
    {% endif %}

    {% if item.service.code == 'crowd-firework' %}
        {% partial 'request/permit-crowd/detail-firework' %}
    {% endif %}

    {% if item.service.code == 'crowd-campaign' %}
        {% partial 'request/permit-crowd/detail-campaign' %}
    {% endif %}

    {% if item.service.code == 'crowd-public' %}
        {% partial 'request/permit-crowd/detail-public' %}
    {% endif %}
{% endif %}

{% if item.service.parent.code == 'permit-hearse' %}
    {% if item.service.code == 'hearse' %}
        {% partial 'request/permit-hearse/detail' %}
    {% endif %}

    {% if item.service.code == 'hearse-other' %}
        {% partial 'request/permit-hearse/detail-other' %}
    {% endif %}
{% endif %}

{% if item.service.parent.code == 'permit-finger' %}
    {% partial 'request/permit-finger/detail' %}
{% endif %}

{% if item.service.parent.code == 'permit-lost' %}
    {% partial 'request/permit-lost/detail' %}
{% endif %}
