{% if permitHearses %}
    <ul class="list-unstyled list-unstyled-border mb-0">
        {% for permitHearse in permitHearses %}
        <li class="media">
            <img class="mr-3 rounded-circle" src="{{ 'assets/img/avatar/avatar-1.png'|theme }}" alt="avatar" width="50">
            <div class="media-body">
                <div class="float-right text-primary">{{ permitHearse.created_at.diffForHumans }}</div>
                <div class="media-title">{{ permitHearse.customer.name }}</div>
                <span class="text-small text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    {% partial 'no-content' message='Tidak ada data ditemukan' %}
{% endif %}
