<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               	<tr>
					<td>Berkas: Kartu Identitas (EKTP)</td>
					<td class="text-right">
					{% if item.requestable.hasKtp %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Pas Foto</td>
					<td class="text-right">
					{% if item.requestable.hasPhoto %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>
            </tbody>
        </table>
    </div>
</div>
