<div class="form-group">
    <label>Kelurahan</label>
    <select name="destination_village" class="form-control">
        <option value="">-- Pilih --</option>
        {% for village in destination_villages %}
        <option value="{{ village.id }}">{{ village.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
