<div class="card">
    <div class="card-header">
        <h4>TANGGAL: DATA PENGALAWAN</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Tanggal</td>
                   <td class="text-right">{{ item.requestable.schedule_at|date('l, d F Y H:i') }}</td>
               </tr>
            </tbody>
        </table>
    </div>

    <div class="card-header">
        <h4>ASAL: DATA PENGAWALAN</h4>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Kota/Kabupaten</td>
                   <td class="text-right">{{ item.requestable.origin_regency.name|ucwords }}</td>
               </tr>

               <tr>
                   <td>Kelurahan</td>
                   <td class="text-right">{{ item.requestable.origin_district.name|ucwords }}</td>
               </tr>

               <tr>
                   <td>Kecamatan</td>
                   <td class="text-right">{{ item.requestable.origin_village.name|ucwords }}</td>
               </tr>

               <tr>
                   <td>RT / RW</td>
                   <td class="text-right">{{ item.requestable.origin_rt ~' / '~ item.requestable.origin_rw }}</td>
               </tr>

               <tr>
                   <td>Alamat Lengkap</td>
                   <td class="text-right">{{ item.requestable.origin_address }}</td>
               </tr>
            </tbody>
        </table>
    </div>

    <div class="card-header">
        <h4>TUJUAN: DATA PENGAWALAN</h4>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Kota/Kabupaten</td>
                   <td class="text-right">{{ item.requestable.destination_regency.name|ucwords }}</td>
               </tr>

               <tr>
                   <td>Kelurahan</td>
                   <td class="text-right">{{ item.requestable.destination_district.name|ucwords }}</td>
               </tr>

               <tr>
                   <td>Kecamatan</td>
                   <td class="text-right">{{ item.requestable.destination_village.name|ucwords }}</td>
               </tr>

               <tr>
                   <td>RT / RW</td>
                   <td class="text-right">{{ item.requestable.destination_rt ~' / '~ item.requestable.destination_rw }}</td>
               </tr>

               <tr>
                   <td>Alamat Lengkap</td>
                   <td class="text-right">{{ item.requestable.destination_address }}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>
