title     = "Ubah Loket"
url       = "loket/ubah/:parameter"
layout    = "default"
is_hidden = 0

[AdminCounterDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-counter';
}
==

{% partial 'button-back' page='counter/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="onSave" data-request-flash>
            {% partial 'counter/form' %}

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
