title     = "Daftar Loket"
url       = "loket"
layout    = "default"
is_hidden = 0

[AdminCounter]
==
function onStart() {
	$this->page->activePage      = 'admin-counter';
	$this->page->activeChildPage = 'counter';
}
==
{% set counters = AdminCounter.getAll %}

{% partial 'button-add' page='counter/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Nama</th>
                        <th>Kode</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Kode</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, counter in counters %}
                    <tr>
                        <td>{{ counter.name }}
                            <div class="table-links">
                                <a href="{{ 'counter/service'|page({parameter: counter.parameter}) }}">Katikan Layanan</a>
                                <div class="bullet"></div>
                                <a href="{{ 'counter/edit'|page({parameter: counter.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td>{{ counter.code }}</td>
                        <td>{{ counter.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
