<div class="form-group">
    <label><strong>Kecamatan</strong></label>
    <select name="district_id" class="form-control"
        data-request="Location::onGetVillage"
        data-request-update="'location/village': '[data-target-villages]'">
        <option value="">-- Pilih --</option>
        {% for district in districts %}
        <option value="{{ district.id }}" {{ district.id == districtSelected ? 'selected' : '' }}>{{ district.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
