title     = "Ubah Profile"
url       = "/u/profile"
layout    = "default"
is_hidden = 0

[Location]

[AdminProfile]
==
use Pulangpisau\User\Models\User as UserModels;

function onInit() {
    $user           = Session::get('userLogin');
    $avatarUploader = $this->addComponent(
        'Responsiv\Uploader\Components\ImageUploader',
        'avatarUploader',
        [
            'deferredBinding' => true,
            'maxSize'         => '2',
        ]
    );
    $avatarUploader->bindModel('avatar', UserModels::find($user->id));
}

function onStart() {
    $this->page->activePage = 'user-profile';
}
==

{% set provinces = Location.getProvince %}
{% set regencies = Location.getRegencyById(userLogin.officer.province_id) %}
{% set districts = Location.getDistrictById(userLogin.officer.regency_id) %}
{% set villages  = Location.getVillageById(userLogin.officer.district_id) %}

<div class="card">
    <div class="card-body">
        {{ form_ajax('AdminProfile::onSave', {'data-request-flash': true}) }}
            <div class="form-group">
                <label>Foto</label>
                {% component 'avatarUploader' %}
            </div>

            <div class="form-group">
                <label>Nama</label>
                <input type="text" class="form-control" name="name" value="{{ userLogin.officer.name }}">
            </div>

            <div class="form-group">
                <label>Tanggal Lahir</label>
                <input type="text" class="form-control datepicker" name="dob" value="{{ userLogin.officer.dob ? userLogin.officer.dob : '' }}">
            </div>

            <div class="form-group">
                <label>Jenis Kelamin</label>
                <div class="selectgroup w-100">
                    <label class="selectgroup-item">
                        <input type="radio" name="gender" value="male" class="selectgroup-input" {{ userLogin.officer.gender == 'male' ? 'checked' : '' }}>
                        <span class="selectgroup-button">Pria</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="gender" value="female" class="selectgroup-input" {{ userLogin.officer.gender == 'female' ? 'checked' : '' }}>
                        <span class="selectgroup-button">Wanita</span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" value="{{ userLogin.email }}">
            </div>

            <div class="form-group">
                <label>No. Telepon</label>
                <input type="text" class="form-control" name="phone" value="{{ userLogin.officer.phone }}">
            </div>

            <div>
                {% partial 'location/province' provinces=provinces provinceSelected=userLogin.officer.province_id %}
            </div>

            <div data-target-regencies>
                {% partial 'location/regency' regencies=regencies regencySelected=userLogin.officer.regency_id %}
            </div>

            <div data-target-districts>
                {% partial 'location/district' districts=districts districtSelected=userLogin.officer.district_id %}
            </div>

            <div data-target-villages>
                {% partial 'location/village' villages=villages villageSelected=userLogin.officer.village_id %}
            </div>

            <div class="form-group">
                <label>Alamat Lengkap</label>
                <textarea name="address" rows="10" class="form-control">{{ userLogin.officer.address }}</textarea>
            </div>

            <div class="form-group">
                <label></label>
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        {{ form_close() }}
    </div>
</div>
