title     = "Mesin Antrian"
url       = "antrian/loket"
layout    = "default"
is_hidden = 0

[QueueMachine]
==
function onStart() {
    $this->page->activePage = 'admin-queue-index';
}
==
<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped">
            <tbody>
                {% for counter in counters %}
                <tr>
                    <td>
                        {{ counter.name }} <br>
                        <small class="text-muted">Pelayanan: {% for service in counter.services %} <b>{{ service.name }}</b> {{ loop.last ? '' :', '}} {% endfor %}</small>
                    </td>
                    <td class="text-right">
                        <a href="{{ 'queue/detail'|page({parameter: counter.parameter}) }}" class="btn btn-primary btn-round btn-sm">
                            Masuk <i class="fa fa-sign-in-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
