url       = "petugas/akses/:parameter"
layout    = "default"
is_hidden = 0

[AdminOfficerAccess]
parameter="{{ :parameter }}"
==
function onStart() {
	$this->page->activePage      = 'admin-officer';
	$this->page->activeChildPage = 'officer';
}
==

{% partial 'button-back' page='officer/index'|page %}
<div class="card">
    <div class="card-header">
        <h4>INFORMASI PETUGAS</h4>
    </div>
    <div class="card-body p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <td>Tanggal Bergabung</td>
                    <td class="text-right">{{ user.created_at|date('l, d F Y H:i') }}</td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td class="text-right">{{ user.officer.name }}</td>
                </tr>
                 <tr>
                    <td>Email</td>
                    <td class="text-right">{{ user.email }}</td>
                </tr>
                 <tr>
                    <td>No. Telepon</td>
                    <td class="text-right">{{ user.officer.phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body p-0">
        <form data-request="onSave" data-requestflash>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hak Akses</th>
                        <th class="text-right">Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, group in groups %}
                    <tr>
                        <td class="w-100">{{ group.name }}</td>
                        <td class="text-right">
                            <input type="hidden" name="parameter[{{ key }}]" value="{{ user.roles[key].parameter }}">
                            <input type="hidden" name="group_id[{{ key }}]" value="{{ group.id }}">
                            <label class="custom-switch">
                                <input type="checkbox" name="is_access[{{ key }}]" value="1" class="custom-switch-input"
                                    {% for role in user.roles %}
                                        {% if role.group_id == group.id %}
                                            checked
                                        {% endif %}
                                    {% endfor %}>
                                <span class="custom-switch-indicator"></span>
                                <span class="custom-switch-description"></span>
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="p-4">
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
                </div>
            </div>
        </form>
    </div>
</div>
