<div class="card">
    <div class="card-header">
        <h4>FORMULIR: DASAR</h4>
    </div>

    <div class="card-body">
        <div class="mb-4">
            <p class="mb-0"><b>Kop Surat</b></p>
            {{ item.requestable.header_doctor }}
        </div>

        <div class="mb-4">
            <p class="mb-0"><b>Tujuan Pembuatan Berkas</b></p>
            {{ item.requestable.header_doctor }}
        </div>
    </div>
</div>
