url       = "petugas/bagian/ubah/:parameter"
layout    = "default"
is_hidden = 0

[AdminSectionDetail]
parameter="{{ :parameter }}"
==
function onStart() {
	$this->page->activePage      = 'admin-officer';
	$this->page->activeChildPage = 'officer-section';
}
==

{% partial 'button-back' page='officer-section/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="onSave" data-request-flash>
            {% partial 'officer-section/form' %}

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
