<div class="card">
    <div class="card-header">
        <h4>INFORMASI PEMOHON</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" name="name" value="{{ customer.name }}">
        </div>

        <div class="form-group">
            <label>No. Telepon</label>
            <input type="text" class="form-control" name="phone" value="{{ customer.phone }}">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" value="{{ customer.email }}">
        </div>

        <div class="form-group">
            <label>Jenis Kelamin</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="gender" value="male" class="selectgroup-input" {{ customer.gender == 'male' ? 'checked' : '' }}>
                    <span class="selectgroup-button">Pria</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="gender" value="female" class="selectgroup-input" {{ customer.gender == 'female' ? 'checked' : '' }}>
                    <span class="selectgroup-button">Wanita</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Pekerjaan</label>
            <input type="text" class="form-control" name="job" value="{{ customer.job }}">
        </div>

        <div class="form-group">
            <label>Kebangsaan</label>
            <input type="text" class="form-control" name="nationality" value="{{ customer.nationality }}">
        </div>

        <div class="form-group">
            <label>Alamat Lengkap</label>
            <textarea name="address" cols="30" rows="10" class="form-control">{{ customer.address }}</textarea>
        </div>
    </div>
</div>
