<div class="card">
    <div class="card-header">
        <h4>KAITKAN PETUGAS LAPANGAN <span class="text-muted">(Opsional)</span></h4>
    </div>
    <div class="card-body p-0">
        <div class="p-4 pb-0" data-target-officers>
            {% if item.officers %}
                {% for key, officer in item.officers %}
                    {% partial 'request/form-officer' key=key %}
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <div class="p-4 pt-0">
            <div class="text-right">
                <button class="btn btn-round btn-primary" type="button" data-add-officer>
                    <i class="fa fa-plus-circle"></i> TAMBAH
                </button>
            </div>
        </div>
    </div>
</div>
