{% if service.code == 'permit-crowd' or service.code == 'permit-hearse' %}
    {% if service.code == 'permit-crowd' %}
        <form data-request="AdminRequestPermitCrowd::onSave" data-request-flash>
            <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
            <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

            {% partial 'request/form-requester' %}

            {% partial 'request/permit-crowd/form' %}

            {% partial 'request/button' %}
        </form>
    {% endif %}

    {% if service.code == 'permit-hearse' %}
        <form data-request="AdminRequestPermitHearse::onSave" data-request-flash>
            <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
            <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

            {% partial 'request/form-requester' %}

            {% partial 'request/permit-hearse/form' %}

            {% partial 'request/button' %}
        </form>
    {% endif %}
{% else %}
    <form data-request="AdminRequest::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/button' %}
    </form>
{% endif %}

{#
{% if service.code == 'permit-sim' %}
    <form data-request="AdminRequestPermitSim::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-sim/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}

{% if service.code == 'permit-skck' %}
    <form data-request="AdminRequestPermitSkck::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-skck/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}

{% if service.code == 'permit-tnkb' %}
    <form data-request="AdminRequestPermitTnkb::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-tnkb/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}

{% if service.code == 'permit-drug' %}
    <form data-request="AdminRequestPermitDrug::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-drug/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}


{% if service.code == 'permit-crowd' %}
    <form data-request="AdminRequestPermitCrowd::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-crowd/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}

{% if service.code == 'permit-hearse' %}
    <form data-request="AdminRequestPermitHearse::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-hearse/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}

{% if service.code == 'permit-activity' %}
    <form data-request="AdminRequestPermitActivity::onSave" data-request-flash>
        <input type="hidden" name="service_id" value="{{ serviceRequest.id }}">
        <input type="hidden" name="service_name" value="{{ serviceRequest.name }}">

        {% partial 'request/form-requester' %}

        {% partial 'request/permit-activity/form' %}

        {% partial 'request/form-officer' officers=officers %}

        {% partial 'request/button' %}
    </form>
{% endif %}
#}
