<div class="card">
    <div class="card-header">
        <h4>INFORMASI DETAIL</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Jenis Kegiatan</td>
                   <td class="text-right">{{ item.requestable.type }}</td>
               </tr>

               <tr>
                   <td>Nama Kegiatan</td>
                   <td class="text-right">{{ item.requestable.name }}</td>
               </tr>

               <tr>
                   <td>Tujuan Kegiatan</td>
                   <td class="text-right">{{ item.requestable.purpose }}</td>
               </tr>

               <tr>
                   <td>Peserta</td>
                   <td class="text-right">{{ item.requestable.participant }}</td>
               </tr>

               <tr>
                   <td>Lokasi</td>
                   <td class="text-right">{{ item.requestable.location }}</td>
               </tr>

               <tr>
                   <td>Penanggung Jawab Acara</td>
                   <td class="text-right">{{ item.requestable.participant }}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI PENANGGUNG JAWAB ACARA</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tr>
                <td>Nama</td>
                <td class="text-right">{{ item.requestable.pic_name }}</td>
            </tr>
            <tr>
                <td>No. Telepon</td>
                <td class="text-right">{{ item.requestable.pic_phone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td class="text-right">{{ item.requestable.pic_email ? item.requestable.pic_email : 'Tidak ada alamat email' }}</td>
            </tr>
        </table>
    </div>
</div>
