<div style="font-size: 75%">
    <div>
        <p>Nomor : Lepas</p>
        <p>Lampiran: -</p>
        <p>Perihal: Mohon bantuan pengawalan</p>
    </div>

    <div style="margin-top: 20px">
        <p>
            Kepada Yth. BAPAK KAPOLRES PULANG PISAU <br>
            u.p KASAT SABHARA
        </p>
    </div>

    <div style="margin-top: 20px">
        di- <br>
        Pulang Pisau<br>
        Dengan hormat.
    </div>

    <div style="margin-top: 20px">
        <p>Saya sebagai pemohon dibawah ini:</p>

        <table>
            <tbody>
                <tr>
                    <td style="width: 20%">Nama</td>
                    <td>: {{ request.items[0].customer.name }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Jenis Kelamin</td>
                    <td>: {{ request.items[0].customer.gender == 'male' ? 'Laki-laki' : 'Perempuan' }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Pekerjaan</td>
                    <td>: {{ request.items[0].customer.job }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Suku/Kebangsaan</td>
                    <td>: {{ request.items[0].customer.nationality }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Alamat</td>
                    <td>: {{ request.items[0].customer.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 20px">
        <p>
            Sehubungan dalam rangka mengantar / pengawalan jenazah, bersama ini dimohon dengan hormat kepada Bapak Kapolres Pulang Pisau u.p Kasat Sabhara agar kiranya dapat memberikan bantuan Pengawalan Kepolisian dari rumah duka bertempat di:
        </p>
    </div>

    <div style="margin-top: 20px">
        <table>
            <tbody>
                <tr>
                    <td style="width: 20%">Jalan</td>
                    <td>: {{ request.items[0].requestable.origin_address }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">RT / RW</td>
                    <td>: {{ request.items[0].requestable.origin_rt ~' / '~  request.items[0].requestable.origin_rw }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Kelurahan / Desa</td>
                    <td>: {{ request.items[0].requestable.origin_village.name|ucwords }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Kecamatan</td>
                    <td>: {{ request.items[0].requestable.origin_regency.name|ucwords }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Kabupaten</td>
                    <td>: {{ request.items[0].requestable.origin_district.name|ucwords }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 20px">
        <p>Menuju tempat pemakaman umum yang bertempat di:</p>
    </div>

    <div style="margin-top: 20px">
        <table>
            <tbody>
                <tr>
                    <td style="width: 20%">Jalan</td>
                    <td>: {{ request.items[0].requestable.destination_address }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">RT / RW</td>
                    <td>: {{ request.items[0].requestable.destination_rt ~' / '~  request.items[0].requestable.destination_rw }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Kelurahan / Desa</td>
                    <td>: {{ request.items[0].requestable.destination_village.name|ucwords }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Kecamatan</td>
                    <td>: {{ request.items[0].requestable.destination_regency.name|ucwords }}</td>
                </tr>

                <tr>
                    <td style="width: 20%">Kabupaten</td>
                    <td>: {{ request.items[0].requestable.destination_district.name|ucwords }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 20px">
        <p>Demikian Surat Permohonan ini saya buat, atas bantuan Bapak saya ucapkan terima kasih.</p>
    </div>

    <div style="margin-top: 20px; width: 300px; margin-left: auto; text-align: center">
        <p>
            Pulang Pisau, {{ request.items[0].requestable.scheduled_at|date('d F Y') }}
        </p>
        <br>
        <br>

        <p>({{ request.items[0].customer.name}})</p>
    </div>
</div>
