<div style="font-size: 75%">
    <div style="margin-top: 20px">
        <h4>I. Data Pemohon</h4>
    </div>
    <table class="table">
        <tr>
            <td style="width: 40%">Keperluan</td>
            <td>{{ request.items[0].requestable.purpose }}</td>
        </tr>
        <tr>
            <td style="width: 40%">Nama</td>
            <td>{{ request.items[0].customer.name }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Tempat / Tanggal Lahir</td>
            <td>{{ request.items[0].customer.place }} / {{ request.items[0].customer.dob }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Kebangsaan</td>
            <td>{{ request.items[0].customer.nationality }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Jenis Kelamin</td>
            <td>{{ request.items[0].customer.gender == 'male' ? 'Laki-laki' : 'Perempuan' }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Status Perkawinan</td>
            <td>{{ request.items[0].customer.marital_status }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Pekerjaan</td>
            <td>{{ request.items[0].customer.job }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Alamat Sekarang</td>
            <td>{{ request.items[0].customer.address }}</td>
        </tr>

        <tr>
            <td style="width: 40%">Nomor Kartu Penduduk</td>
            <td>{{ request.items[0].customer.number_id }}</td>
        </tr>

        <tr>
            <td style="width: 40%">No. Pasport</td>
            <td>{{ request.items[0].customer.number_pasport }}</td>
        </tr>

        <tr>
            <td style="width: 40%">No. KITAS / KITAP</td>
            <td>{{ request.items[0].customer.number_kitas }}</td>
        </tr>
    </table>

    <div style="page-break-before:always">&nbsp;</div>
    <div style="margin-top: 20px">
        <h4>II. Hubungan Kekeluargaan</h4>
    </div>

    <div style="margin-top: 20px">
        <table class="table">
            <tr>
                <th colspan="2">1. {{ request.items[0].requestable.relation == 'husband' ? 'Data Suami' : 'Data Istri' }}</th>
            </tr>
            <tr>
                <td style="width: 40%">Nama</td>
                <td>{{ request.items[0].requestable.relation_name }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Umur</td>
                <td>{{ request.items[0].requestable.relation_age }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Agama</td>
                <td>{{ request.items[0].requestable.relation_religion }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Kebangsaan</td>
                <td>{{ request.items[0].requestable.relation_nationality }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Pekerjaan</td>
                <td>{{ request.items[0].requestable.relation_job }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Alamat</td>
                <td>{{ request.items[0].requestable.relation_address }}</td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 20px">
        <table class="table">
            <tr>
                <th colspan="2">2. Data Bapak Sendiri</th>
            </tr>
            <tr>
                <td style="width: 40%">Nama</td>
                <td>{{ request.items[0].requestable.father_name }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Umur</td>
                <td>{{ request.items[0].requestable.father_age }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Agama</td>
                <td>{{ request.items[0].requestable.father_religion }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Kebangsaan</td>
                <td>{{ request.items[0].requestable.father_nationality }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Pekerjaan</td>
                <td>{{ request.items[0].requestable.father_job }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Alamat</td>
                <td>{{ request.items[0].requestable.father_address }}</td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 20px">
        <table class="table">
            <tr>
                <th colspan="2">3. Data Ibu Sendiri</th>
            </tr>
            <tr>
                <td style="width: 40%">Nama</td>
                <td>{{ request.items[0].requestable.mother_name }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Umur</td>
                <td>{{ request.items[0].requestable.mother_age }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Agama</td>
                <td>{{ request.items[0].requestable.mother_religion }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Kebangsaan</td>
                <td>{{ request.items[0].requestable.mother_nationality }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Pekerjaan</td>
                <td>{{ request.items[0].requestable.mother_job }}</td>
            </tr>
            <tr>
                <td style="width: 40%">Alamat</td>
                <td>{{ request.items[0].requestable.mother_address }}</td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 20px">
        <table class="table">
            <tr>
                <th colspan="4">4. Data Saudara Sekandung</th>
            </tr>
            <tr>
                <td>Nama</td>
                <td>Umur</td>
                <td>Pekerjaan</td>
                <td>Alamat</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.siblings0name }}</td>
                <td>{{ request.items[0].requestable.siblings0age }}</td>
                <td>{{ request.items[0].requestable.siblings0job }}</td>
                <td>{{ request.items[0].requestable.siblings0address }}</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.siblings1name }}</td>
                <td>{{ request.items[0].requestable.siblings1age }}</td>
                <td>{{ request.items[0].requestable.siblings1job }}</td>
                <td>{{ request.items[0].requestable.siblings1address }}</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.siblings2name }}</td>
                <td>{{ request.items[0].requestable.siblings2age }}</td>
                <td>{{ request.items[0].requestable.siblings2job }}</td>
                <td>{{ request.items[0].requestable.siblings2address }}</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.siblings3name }}</td>
                <td>{{ request.items[0].requestable.siblings3age }}</td>
                <td>{{ request.items[0].requestable.siblings3job }}</td>
                <td>{{ request.items[0].requestable.siblings3address }}</td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 20px">
        <table class="table">
            <tr>
                <th colspan="2">5. Data Riwayat Sekolah</th>
            </tr>

            <tr>
                <td>{{ request.items[0].requestable.schools0name }}</td>
                <td> Tahun Lulus : {{ request.items[0].requestable.schools0year }}</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.schools1name }}</td>
                <td> Tahun Lulus : {{ request.items[0].requestable.schools1year }}</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.schools2name }}</td>
                <td> Tahun Lulus : {{ request.items[0].requestable.schools2year }}</td>
            </tr>
            <tr>
                <td>{{ request.items[0].requestable.schools3name }}</td>
                <td> Tahun Lulus : {{ request.items[0].requestable.schools3year }}</td>
            </tr>
        </table>
    </div>

    <div style="page-break-before:always">&nbsp;</div>
    <div style="margin-top: 20px">
        <h4>II. DATA PERKARA PIDANA DAN PELANGGARAN</h4>
        <table class="table">
            <tr>
                <th>
                    1. Perkara Pidana
                </th>
            </tr>
            <tr>
                <td>
                    <p>Apakah Saudara pernah tersangkut perkara pidana?</p>
                    <p><b>{{ request.items[0].requestable.is_criminal == 'true' ? 'Ya': 'Tidak' }}</b></p>
                </td>
            </tr>
            {% if request.items[0].requestable.is_criminal == 'true' %}
            <tr>
                <td>
                    <p>Dalam perkara apa?</p>
                    <p><b>{{ request.items[0].requestable.criminal_case }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Bagaimana putusannya dan Vonis hakim?</p>
                    <p><b>{{ request.items[0].requestable.criminal_punishment }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Apakah Saudara sedang dalam proses perkara pidana? Kasus apa??</p>
                    <p><b>{{ request.items[0].requestable.criminal_punishment_process }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Sampai sejauh mana proses hukumnya?</p>
                    <p><b>{{ request.items[0].requestable.criminal_punishment_description }}</b></p>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>

    <div style="margin-top: 20px">
        <table class="table">
            <tr>
                <th>
                    1. Pelanggaran (Violation)
                </th>
            </tr>
            <tr>
                <td>
                    <p>Apakah Saudara pernah melakukan pelanggaran hukum dan atau norma-norma sosial??</p>
                    <p><b>{{ request.items[0].requestable.is_violation == 'true' ? 'Ya' : 'Tidak' }}</b></p>
                </td>
            </tr>
            {% if request.items[0].requestable.is_violation == 'true' %}
            <tr>
                <td>
                    <p>Pelanggaran hukum atau norma-norma sosial apa?</p>
                    <p><b>{{ request.items[0].requestable.violation_case }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Sampai sejauh mana prosesnya?</p>
                    <p><b>{{ request.items[0].requestable.violation_punishment }}</b></p>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>

    <div style="page-break-before:always">&nbsp;</div>
    <div style="margin-top: 20px">
        <h4>III. INFORMASI LAIN</h4>
        <table class="table">
            <tr>
                <td>
                    <p>1. Riwayat Pekerjaan / negara-negara yang pernah dikunjungi</p>
                    <p><b>{{ request.items[0].requestable.job_description }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2. Kesenangan / Kegemaran / Hobi</p>
                    <p><b>{{ request.items[0].requestable.hoby }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>3. Alamat yang mudah di hubungi (no.telepon)</p>
                    <p><b>{{ request.items[0].requestable.job_description }}</b></p>
                </td>
            </tr>
        </table>
    </div>

    <div style="page-break-before:always">&nbsp;</div>
    <div style="margin-top: 20px">
        <h4>IV. DATA SPONSOR</h4>
        <table class="table">
            <tr>
                <td>
                    <p>1. Disponsori oleh</p>
                    <p><b>{{ request.items[0].requestable.sponsor }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2. Alamat sponsor</p>
                    <p><b>{{ request.items[0].requestable.sponsor_address }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>3. Telp. / Faximile</p>
                    <p><b>{{ request.items[0].requestable.sponsor_phone }}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>4. Jenis Usaha</p>
                    <p><b>{{ request.items[0].requestable.sponsor_business }}</b></p>
                </td>
            </tr>
        </table>
    </div>
</div>
