<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                    <td>Berkas: Proposal Kegiatan</td>
                    <td class="text-right">
                        {% if item.requestable.hasProposal %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Berkas: Permohonan Kegiatan</td>
                    <td class="text-right">
                        {% if item.requestable.hasPermitRequest %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Berkas: Perizinan Tempat</td>
                    <td class="text-right">
                        {% if item.requestable.hasPermitPlace %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h4>INFORMASI KEGIATAN</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Jenis Kegiatan</td>
                   <td class="text-right">{{ item.requestable.kind }}</td>
               </tr>

               <tr>
                   <td>Tanggal & Waktu</td>
                   <td class="text-right">{{ item.requestable.date ~' '~ item.requestable.time }}</td>
               </tr>

               <tr>
                   <td>Lokasi</td>
                   <td class="text-right">{{ item.requestable.place }}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>
