<div class="card">
    <div class="card-header">
        <h4>INFORMASI PARTAI POLITIK</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Nama</td>
                   <td class="text-right">{{ item.requestable.campaign_group }}</td>
               </tr>

               <tr>
                   <td>Alamat Sekretariat</td>
                   <td class="text-right">{{ item.requestable.campaign_address }}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI KEGIATAN</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Jenis</td>
                   <td class="text-right">{{ item.requestable.kind }}</td>
               </tr>

               <tr>
                   <td>Tanggal & Waktu</td>
                   <td class="text-right">{{ item.requestable.date ~' '~ item.requestable.time }}</td>
               </tr>

               <tr>
                   <td>Tempat</td>
                   <td class="text-right">{{ item.requestable.place }}</td>
               </tr>

               <tr>
                   <td>Peserta</td>
                   <td class="text-right">{{ item.requestable.participant }}</td>
               </tr>

               <tr>
                   <td>Pemimpin Aksi</td>
                   <td class="text-right">{{ item.requestable.lead }}</td>
               </tr>

               <tr>
                   <td>Jumlah Kendaraan</td>
                   <td class="text-right">{{ item.requestable.vehicle }}</td>
               </tr>

               <tr>
                   <td>Alat Peraga Kampanye</td>
                   <td class="text-right">{{ item.requestable.apk }}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>
