<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                    <td>Berkas: Perizinan Lokasi</td>
                    <td class="text-right">
                        {% if item.requestable.hasPermitPlace %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Berkas: Perizinan Polisi Setempat</td>
                    <td class="text-right">
                        {% if item.requestable.hasPermitPolice %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h4>INFORMASI KEGIATAN</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   <td>Tujuan</td>
                   <td class="text-right">{{ item.requestable.purpose }}</td>
               </tr>

               <tr>
                   <td>Jumlah Kembang Api</td>
                   <td class="text-right">{{ item.requestable.qty }}</td>
               </tr>

               <tr>
                   <td>Sumber Kembang Api</td>
                   <td class="text-right">{{ item.requestable.source }}</td>
               </tr>

               <tr>
                   <td>Jenis Kembang Api</td>
                   <td class="text-right">{{ item.requestable.kind }}</td>
               </tr>

               <tr>
                   <td>Tanggal & Waktu</td>
                   <td class="text-right">{{ item.requestable.date ~' '~ item.requestable.time }}</td>
               </tr>

               <tr>
                   <td>Penanggung Jawab</td>
                   <td class="text-right">{{ item.requestable.pic }}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>
