<div class="card">
    <div class="card-header">
        <h4>FORMULIR: LAINNYA</h4>
    </div>

    <div class="card-body p-20">
        <div class="mb-4">
            <p class="mb-0"><b>Pekerjaan</b></p>
            {{ item.requestable.job_description }}
        </div>

        <div class="mb-4">
            <p class="mb-0"><b>Hobi</b></p>
            {{ item.requestable.hobby }}
        </div>

        <div class="mb-4">
            <p class="mb-0"><b>Nomor Telepon Yang Mudah Dihubungi</b></p>
            {{ item.requestable.address }}
        </div>
    </div>
</div>
