<div class="card">
    <div class="card-header">
        <h4>FORMULIR: SPONSOR</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
                <tr>
                   	<td colspan="2">
                        <p>Disponsori Oleh</p>
                        <p>{{ item.requestable.sponsor }}</p>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Alamat</p>
                        <p>{{ item.requestable.sponsor_address }}</p>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Telepon</p>
                        <p>{{ item.requestable.sponsor_phone }}</p>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Jenis Usaha</p>
                        <p>{{ item.requestable.sponsor_business }}</p>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
