<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   	<td>Jenis</td>
                   	<td class="text-right">
                   		{% if item.service.code == 'skck-new' %}
                   			Pembuatan Baru
                   		{% endif %}

                   		{% if item.service.code == 'skck-extend' %}
                   			Perpanjangan
                   		{% endif %}
                   	</td>
               </tr>

               	<tr>
                   	<td>Berkas: SKCK Lama</td>
                   	<td class="text-right">
                   		{% if item.requestable.hasSkck %}
                   			<i class="fa fa-check-circle text-success"></i>
                   		{% else %}
                   			<i class="fa fa-times-circle text-danger"></i>
                   		{% endif %}
                   	</td>
               	</tr>

                <tr>
                    <td>Berkas: Sidik Jari</td>
                    <td class="text-right">
                        {% if item.requestable.hasFinger %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>

               	<tr>
					<td>Berkas: Kartu Identitas (KTP)</td>
					<td class="text-right">
					{% if item.requestable.hasKtp %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Kartu Keluarga (KK)</td>
					<td class="text-right">
					{% if item.requestable.hasKk %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Akta Kelahiran / Ijazah Terakhir</td>
					<td class="text-right">
					{% if item.requestable.hasAkta %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Paspor <span class="text-muted">(Untuk pemohon yang keluar negeri)</span></td>
					<td class="text-right">
					{% if item.requestable.hasAkta %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>
            </tbody>
        </table>
    </div>
</div>
